* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #ffffff 30px, #d9ff00 30px 100%, #ffffff 100% 5px);
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 50px;
  letter-spacing: 10px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

h1::after {
  content: '';
  width: 300px;
  height: 5px;
  background-color: #d9ff00;
  display: block;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url('../assets/hero/bethany-tending-flowers.jpg');
  background-size: cover;
  padding: 5vh 5vw;
  overflow: hidden;
  background-position-x: 70%;
}

@media screen and (min-width: 1024px)  {
  .hero {
    background-position-x: 85%;
  }
}

.logo {
  width: 50vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.logo img {
  height: 100%;
}  

.about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  margin-top: 1px;
}

@media screen and (min-width: 1024px)  {
  .about {
    height: 100vh;
  }
}

.about .text {
  width: 100%;
  padding: 15vw 8vw;
  border-bottom: solid 1px #d9ff00;
}

@media screen and (min-width: 1024px)  {
  .about .text {
    width: 50%;
    border-right: solid 1px #d9ff00;
  }
}

.about .image-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 1024px)  {
  .about .image-container {
    width: 50%;
    justify-content: flex-end;
  }
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px)  {
  .image img {
    height: 100%;
    width: auto;
  }
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.gallery img {
  margin-top: 1px;
}